.lefty {
   background: url(../images/squamish2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 50%;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .item1:hover {
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.25);
    cursor: pointer;
}

.nona {
    display: none;
}

.blue-footer {
    background-color: #23303E;
}

.center-it {
    text-align: center;
}